.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
    flex-wrap: wrap;
    
}

#box1{
    align-items: center;
}


.box{
    width: 150px;
    height: 150px;
    font-size:  8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: hsl(0, 100%, 75%);
    
}
#box2{
    background-color: hsl(120, 73%, 72%);
}
#box3{
    background-color: hsl(60, 77%, 71%);
}
#box4{
    background-color: hsl(180, 76%, 67%);
}